@using Tasks.Models;

@model HomeModel
@{
    ViewBag.Title = "Tasks";
}

@section styles{
    <style>
        .job-control {
            text-align: center;
        }

            .job-control a.delete:link,
            .job-control a.delete:visited,
            .job-control a.delete:hover,
            .job-control a.delete:active {
                color: #cc0000;
            }
    </style>
}

<div class="page-header">
    <h1>Tasks</h1>
</div>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="@Url.Action("Index")">Home</a></li>
    <li role="presentation"><a href="~/hangfire">Dashboard</a></li>
</ul>

<hr />

<div style="margin-bottom: 20px;">
    @Html.ActionLink("Add/Modify Job", "AddOrModifyJob", null, new { @class = "btn btn-default" })
    @Html.ActionLink("View Log", "Logs", null, new { @class = "btn btn-default" })
</div>

@if (Model.Jobs.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 80px;">&nbsp;</th>
                <th>Id</th>
                <th>Cron</th>
                <th>CreatedAt</th>
                <th>LastExecution</th>
                <th>NextExecution</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model.Jobs)
            {
                <tr>
                    <td class="job-control">
                        @Html.ActionLink("[x]", "DeleteJob", new { id = job.Id }, new { @class = "delete" })
                        @Html.ActionLink("[e]", "AddOrModifyJob", new { id = job.Id }, new { @class = "edit" })
                    </td>
                    <td>@job.Id</td>
                    <td>@job.Cron</td>
                    <td>@job.CreatedAt</td>
                    <td>@job.LastExecution</td>
                    <td>@job.NextExecution</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No jobs were found.
    </div>
}